<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    <li id="supportLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت محصولات</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/productgroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه محصولات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products">
                                    <i class="fa fa-angle-left"></i><span>مدیریت محصولات</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li id="supportLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت وبلاگ</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/BlogGroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه های وبلاگ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Blogs">
                                    <i class="fa fa-angle-left"></i><span>مدیریت مطالب وبلاگ</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Blogcomments">
                                    <i class="fa fa-angle-left"></i><span>نظرات وبلاگ</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li id="userLi" class="menuitem"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>
                    <li id="orderLi" class="menuitem"><a href="/orders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت سفارشات</span></a></li>
                    <li id="disLi" class="menuitem"><a href="/DiscountCodes"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کدهای تخفیف</span></a></li>
 
                    <li id="pcLi" class="menuitem"><a href="/productcomments"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>نظرات محصولات</span></a></li>
                    <li id="radioLi" class="menuitem"><a href="/radios"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>رادیو</span></a></li>
                    <li id="bookLi" class="menuitem"><a href="/books"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>کتاب</span></a></li>
                    <li id="consLi" class="menuitem"><a href="/Consultations"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مشاوره</span></a></li>
                   
                    <li id="supportLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت مشتریان</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/CustomerGroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه های مشتریان</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Customers">
                                    <i class="fa fa-angle-left"></i><span>مدیریت مشتریان</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li id="supportLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت خدمات</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/ServiceGroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه های خدمات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Services">
                                    <i class="fa fa-angle-left"></i><span>مدیریت خدمات</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="teamLi" class="menuitem"><a href="/TeamMembers"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تیم ما</span></a></li>
                    <li id="teamLi" class="menuitem"><a href="/ContactForms"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت فرم تماس با ما</span></a></li>
                </ul>
            </nav>
        </div>
    </section>
    </section>ب
