@model ViewModels.AboutViewModel
@{
    ViewBag.Title = "درباره دکتر کامران صحت";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
    ViewBag.ogImage = "https://kamransehat.ir/images/bg1b.png";
    ViewBag.ogType = "website";
    ViewBag.ogSitename = "وب سایت شخصی دکتر صحت";
    ViewBag.Canonical = "https://kamransehat.ir/about";
    ViewBag.Description = "درباره دکتر کامران صحت. سوابق تحصیلی و مشاوره ای ایشان را از این صفحه دنبال نمایید.";
}
<section id="page-title" class="page-title page-title2">
    <div class="bg-section">
        <img src="/assets/images/page-title/banner-2.jpg" alt="دکتر کامران صحت" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div class="title title-2 text-center">
                    <div class="clearfix"></div>
                    <div class="title--content">
                        <ol class="breadcrumb">
                            <li><a href="/">خانه</a></li>

                            <li class="active">درباره دکتر کامران صحت</li>
                        </ol>
                        <div class="title--heading">
                            <label>درباره دکتر کامران صحت</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="blog blog-single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="blog-entry">


                    <div class="row">
                        <div class="col-md-8">
                            <div class=" entry--content">
                                <h1>درباره دکتر کامران صحت</h1>
                                <p>
                                    کامران صحت متولد 24/03/1353 در شهر تهران می باشد. ایشان دارای مدرک لیسانس مترجمی زبان انگلیسی از دانشگاه آزاد اسلامی واحد تهران مرکز و مدرک MBA گرایش بازاریابی و مدرک DBA گرایش بازاریابی از لندن می باشند.
                                </p>
                                <p>
                                    بیش از دو دهه است که به عنوان مشاور در حوزه های مختلف کسب و کار در کنار برند های مطرح ایرانی و بین المللی هستیم.
                                    دارای بیش از 20 عنوان تالیف و ترجمه در سازمان ملی جوانان

                                    تولید بیش از 30 عنوان پکیج آموزشی در قالب فیلم و صدا
                                </p>

                                <h2>سوابق آموزشی و مشاوره ای دکتر کامران صحت</h2>
                                <ul>
                                    <li>
                                        مدرس و مشاور برترین برندهای داخلی و بین المللی
                                    </li>
                                    <li>
                                        دانشگاه تهران – امیر کبیر – شریف – آزاد اسلامی و ...
                                    </li>
                                    <li>
                                        خودروسازی مرسدس بنز – کیاموتورز – ایران خودرو – سایپا و ...
                                    </li>
                                    <li>
                                        پوشاک هاکوپیان – نوین چرم – تولیکا – مارال چرم – فابریانی – کرال و ....
                                    </li>
                                    <li>
                                        لوازم خانگی ال جی – گلدیران – سونی – آزمایش – پارس الکتریک – تکنو – ایساتیس – سیهاوی و ...
                                    </li>
                                    <li>
                                        بانک ملی – ملت – تجارت – صادرات – پاسارگاد – مسکن – سامان و ...
                                    </li>
                                    <li>
                                        بیمه البرز – پارسیان – نوین – سامان – ما -
                                    </li>
                                    <li>
                                        نفت و گاز پارس – مناطق نفت خیز جنوب – مدیریت اکتشاف نفت و ...
                                    </li>
                                    <li>
                                        توزیع و پخش البرز – هجرت - سایه سمن – ام زد پی – قاسم ایران – مهر پخش – هگزان و ...
                                    </li>
                                    <li>
                                        سالن زیبایی گل – چهره پردازان – همای زیبایی و...
                                    </li>
                                    <li>
                                        کلوپ ورزشی ناوا – سوده – صدف کرمان خودرو - تاج بانو و ...
                                    </li>
                                    <li>
                                        مپنا – گروه ملی فولاد – ذوب آهن اصفهان – قرارگاه سازندگی خانم الانبیا و ...
                                    </li>
                                    <li>
                                        مجلس شورای اسلامی – سازمان انرژی اتمی – سازمان صدا و سیمای جمهوری اسلامی ایران و ...
                                    </li>
                                    <li>
                                        نشریات دنیای اقتصاد – خراسان – آسیا – پنجره خلاقیت و ...
                                    </li>
                                    <li>
                                        تبلیغاتی ایران نوین – پیک برتر – روزگار طرفه
                                    </li>
                                    <li>
                                        و صدها مجموعه دیگر
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/bg1b.png" alt="کامران صحت" class="img-responsive" />
                            <div class="consult-about">
                                <a href="/questions/create" class="btn btn-success btn--rounded">درخواست مشاوره آنلاین</a>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="entry-widget entry-related clearfix">
                    <div class="entry-widget-title">
                        <h4>ویدیو های آموزشی</h4>
                        <div class="divider--line">
                            <i class="divider divider--1"></i>
                            <i class="divider divider--2"></i>
                            <i class="divider divider--3"></i>
                            <i class="divider divider--4"></i>
                        </div>
                    </div>
                    <div class="entry-widget-content">
                        <div class="row">

                            @foreach (var product in Model.products)
                            {
                                <div class="col-xs-12 col-sm-4 col-md-4 entry">
                                    <div class="entry--img">
                                        <a href="/product/@product.ProductGroup.UrlParam/@product.Code">
                                            <img src="@product.ImageUrl" alt="@product.Title" />
                                        </a>
                                    </div>
                                    <div class="entry--title">
                                        <h5><a href="/product/@product.ProductGroup.UrlParam/@product.Code">@product.Title</a></h5>
                                    </div>
                                    <div class="entry--meta">
                                        <span>@product.CreationDateStr</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>  