@model ViewModels.BaseViewModel
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<section id="page-title" class="page-title">
    <div class="bg-section">
        <img src="/assets/images/page-title/title-22.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-15 title-16 text--center">
                    <div class="title--content">
                        <div class="title--heading">
                            <h1>Access Denied</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="portfolio portfolio-single bg-white">
    <div class="container">
        <div class="row">
            <div class="alert">
                <div class="text-center"><h2 class="color-red">شما به این صفحه دسترسی ندارید</h2></div>
            </div>
        </div>
    </div>
    </section>

